#responsive-navbar-nav {
    justify-content: space-evenly;
}

#registerkey {
    margin: 0 0 0 0;


}

#forgotmdp {
    cursor: pointer;
}

#popfooter {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;

}
.popbtn {
    margin: 0 0 20px 0;
}

#mdpbtn {
    margin: 0 0 0 -16px;
}

#wrapregis{
    margin: 5% 26% 0 26%;
}

#newaccbtn {
    display: flex;
    flex-direction: row;
    margin: 14px 0 0 0;
}

#noacc {
    align-self: center;
    margin: 0 13px 0 0;
}

#divnum {
        margin: 0 0 30px 0;
}

#navgloBal{
    position: sticky;
}

#Section {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}


#decobtn {
    justify-content: center;
}
#navbarScroll{
    justify-content: center;

}

#carcard {
    margin: 0 2% 0 2%;
}

#profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
}

#Addpost{
    display: flex;
    flex-wrap:nowrap;
}

#cardinf { 
    padding: 13% 4% 13% 4%;
}
.d-blockw-100 {
    width: fit-content;
}